//styles s'appliquant directement sur des éléments html

* {
	@include box-sizing(border-box);
}

body, button, select, input, textarea, label {
	color: $base-color;
	font-family: $base-font-family;
	line-height: $base-line-height;
}