body {
	background: $sand;
}

a {
	color: $base-color;
	border-bottom: 1px solid $dark-sand;
	text-decoration: none;
	padding: 0 0 3px;
	&:hover,
	&:focus {
		border-bottom: 0;
		color: $blue;
	}
	&:active {
		color: darken($blue, 10%);
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: $serif;
}

#footer {
	margin: 100px auto 20px;
	text-align: center;
}