@import "compass/css3";
@import "CSS:../components/normalize-css/normalize";
@import "CSS:../components/suit-utils-dimension/dimension";
@import "CSS:../components/suit-utils-layout/layout";
@import "CSS:../components/suit-utils-link/link";
@import "CSS:../components/suit-utils-state/state";
@import "CSS:../components/suit-utils-text/text";
@import "CSS:../components/suit-arrange/arrange";
@import "CSS:../components/suit-button/button";
@import "CSS:../components/suit-grid/grid";

@font-face {
	font-family: 'Hearthstone';
	src: url('../fonts/belwe_bd_bt_bold-webfont.eot');
	src: url('../fonts/belwe_bd_bt_bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/belwe_bd_bt_bold-webfont.woff') format('woff'),
		 url('../fonts/belwe_bd_bt_bold-webfont.ttf') format('truetype'),
		 url('../fonts/belwe_bd_bt_bold-webfont.svg#belwe_bd_btbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@import "icons";

@import "functions";
@import "variables";
@import "mixins";
@import "base";
@import "helpers";
@import "components";

@import "pages/fight";
@import "pages/top";
@import "main";