.fight {
	text-align: center;
}

	.fight__fighters {
	}

		.fighter {
			display: inline-block;
			vertical-align: middle;
			border-radius: 3px;
			padding: 30px 10px;
			&:hover,
			&:focus {
				background: rgba($brown, 0.2);
			}
		}

			.fighter__img-wrapper,
			.fighter__more-info {
				display: block;
				text-align: center;
			}

			.fighter__img-wrapper {
				overflow: hidden;
				position: relative;
				max-height: 434px;
			}

				.fighter__img {
					position: relative;
					top: -36px;
				}

		.fighter__vs {
			display: inline-block;
			vertical-align: middle;
			width: 100px;
			text-align: center;
			font-family: $serif;
			font-size: 3em;
			font-style: italic;
		}

	.fight__draw {
		display: inline-block;
		margin: 0 auto;
	}