.fight {
	text-align: center;
	display: inline-block;
}

	.fight__fighters {

	}

		.fight__fighters .fighter,
		.fight__between {
			display: inline-block;
			vertical-align: middle;
		}

			.fight__vs-wrapper,
			.fight__draw {
				@extend .fighter__more-info;
			}

			.fight__vs-wrapper {
				@extend .fighter__img-wrapper;
			}

	.fight__between {

	}

		.fight__vs {
			width: 100px;
			text-align: center;
			font-family: $serif;
			font-size: 3em;
		}

		.fight__draw {
			display: inline-block;
			margin: 0 auto;
		}

	.fight__skip {
		float: right;
		margin: 30px 0;
		font-size: $base-font-size*0.8;
	}