.top {
	margin: 0;
	border-spacing: 3px;

	tr {
		&:hover {
			background-color: rgba(black, 0.1);

			.progress {
				opacity: 1;
			}
		}
	}
		td {
			padding: 6px;
			&:first-child {
				border-radius: 3px 0 0 3px;
			}
			&:last-child {
				border-radius: 0 3px 3px 0;
			}
		}

		td[data-position] {
			text-align: center;
		}

		td[data-rank] {
			text-align: right;
		}

		.top-item__name {
			display: inline-block;
			background-repeat: no-repeat;
			background-position: center left;
			background-size: auto 25px;
			padding-left: 80px;
		}

			.progress {
				height: 25px;
				width: 75px;

				// opacity: .5;
			}
}


.fighter__history-item:first-letter {
    text-transform: uppercase;
}